# Turso Database
DATABASE_URL=file:./local.db
DATABASE_AUTH_TOKEN=

# Better Auth Configuration
BETTER_AUTH_URL=
BETTER_AUTH_SECRET= # openssl rand -hex 32

# Social Providers
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# AI
GOOGLE_GENERATIVE_AI_API_KEY=

# BLOB Storage
BLOB_READ_WRITE_TOKEN=
BLOB_STORE_ID=
BLOB_WEBHOOK_PUBLIC_KEY=