@use '@styles/variables.scss' as *;

.dropdown {
  align-items: center;
  background: $gradient;
  border: 1px solid $main-color;
  border-radius: 1rem;
  display: flex;
  position: relative;

  &::after {
    color: $main-color;
    content: '\25BC'; /* Flecha hacia abajo */
    font-weight: bold;
    pointer-events: none;
    position: absolute;
    right: 0.5rem;
    transition: transform 0.2s;
  }

  &.open::after {
    transform: rotate(180deg); /* Flecha hacia arriba */
  }

  &:focus-within {
    outline: 2px dashed $main-color;
    outline-offset: 3px;
  }

  &__select {
    appearance: none;
    background: $gradient;
    border: none;
    border-radius: 1rem;
    color: $main-color;
    cursor: pointer;
    font: $fz-md $font;
    overflow-x: hidden;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;

    &:active,
    &:focus {
      outline: none;
    }
  }
}