.main__about {
    display: grid;
    width: 100%;
}

.main__about--info {
    padding: 20px;
}

.main__about--info p {
    margin-bottom: 20px;
}

.main__about--info p a {
    color: var(--couleur-special);
    text-decoration: none;
}

.main__about--skills {
    margin: 20px auto;
    list-style: none;
    display: block;
}

.main__about--photo {
    border-radius: 25%;
    border: double 10px transparent;
    background-image: radial-gradient(circle at top left, rgba(0, 255, 255, .3) 10%, rgba(22, 255, 226, 0.8), rgba(0, 255, 255, .3) 70%, rgba(22, 255, 226, 0.8), rgba(0, 255, 255, .3) 90%);
    background-origin: border-box;
    display: flex;
    justify-self: center;
    width: 80vw;
    max-width: 400px;
    margin: 50px auto;
}

blockquote {
    font-size: 1.6rem;
    font-style: oblique;
    border: 1px solid #0000ff11;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
    background-color: var(--light-fond);
    box-shadow: -4px 0px 0px var(--couleur-special);
    padding: 20px;
    position: relative;
    margin: 40px auto 20px;
    width: 100%;
}

blockquote::before {
    position: absolute;
    top: -5rem;
    right: 0;
    content: '„';
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    line-height: 0;
    font-size: 12rem;
    color: var(--couleur-special);
    z-index: 0;
}

.main__about--skills li:before {
    content: "▹";
    color: var(--couleur-special);
    font-size: 2rem;
    margin: 0 5px;
}

@media (min-width: 970px){
    .main__about {
        grid-template-columns: minmax(360px, 1fr) minmax(250px, 370px);
        gap: 100px;
        padding: 100px;
    }

    .main__about--photo {
        width: 100%;
        max-width: 400px;
        margin: 70px 0 0 0;
    }
}

@media (min-width: 650px){
    .main__about--skills {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}