aside {
    display: flex;
    position: fixed;
    transition: var(--transition);
    width: 70vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(13, 20, 38, 1) 0%, rgba(13, 20, 54, 1) 100%);
    box-shadow: 0px 0px 50px 10px rgb(0 0 0 / 80%);
    top: 0;
    right: -110%;
}

.active {
    right: 0;
}

aside nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: var(--couleur);
    text-align: center;
    align-self: center;
}

aside nav ul {
    list-style: none;
    width: 100%;
}

aside nav ul li {
    border-bottom: 1px solid var(--couleur);
}

aside nav ul li a {
    display: inline-block;
    padding: 20px 0;
    color: var(--couleur);
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    font-weight: bold;
}