.main__project {
    padding: 10px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__projects--title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    padding-top: 150px;
}

.main__project:hover {
    opacity: 1;
    transform: translateY(-10px);
    background-color: var(--light-fond);
}

.main__project:hover .main__project--title {
    color: var(--couleur-special);
}

.main__project--title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.main__project--description {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.main__projects--img img {
    width: 100%;
}

.main__container--buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    flex-wrap: wrap;
}

@media (min-width: 1024px) {
    .main__project {
        padding: 20px;
        width: 100%;
    }
}