fieldset {
    border: 5px solid #16FFE2aa;
    border-radius: 20px;
    margin: 50px 0;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-self: center;
}

fieldset:active,
fieldset:hover,
fieldset:focus,
fieldset:focus-within {
    border: 5px solid var(--couleur-special);
}

fieldset:active legend h2.main__section--title,
fieldset:hover legend h2.main__section--title,
fieldset:focus legend h2.main__section--title,
fieldset:focus-within legend h2.main__section--title {
    color: var(--couleur-special);
}

legend {
    position: relative;
    top: 10px;
    padding: 0 5px;
}

legend h2.main__section--title {
    color: #16FFE2aa;
}

form {
    background-color: none;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    align-items: baseline;
    width: 100%;
}

label {
    margin: 10px 0 10px;
    font-weight: bold;
}

label[for=message] {
    margin-top: 50px;
}

input,
textarea {
    width: 100%;
    border-radius: 5px;
    padding: 12px;
    background-color: transparent;
    caret-color: var(--couleur-special);
    outline: none;
    border: none;
    color: var(--couleur-special);
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: inset -1px -1px 5px 0 var(--couleur-special);
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
    box-shadow: inset 0 0 10px var(--couleur-special);
}

input::placeholder,
textarea::placeholder {
    color: var(--couleur);
    font-size: 1.6rem;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--couleur-special) inset !important;
    box-shadow: 0 0 0 30px var(--couleur-special) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}

textarea {
    height: 20rem;
}

button[type=submit] {
    background-color: var(--couleur-special);
    color: black;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    border: 3px inset var(--couleur-special);
    transition: var(--transition);
}

button[type=submit]:hover,
button[type=submit]:focus {
    border: 3px outset var(--couleur-special);
    outline: none;
}

button[type=submit]:active {
    transform: translateY(5px);
}

.form-response {
    margin: 50px 0 20px;
}