.header__navbar {
    display: none;
}

@media screen and (min-width: 778px) {
    .header__navbar {
        display: flex;
        position: relative;
        margin-right: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    .header__navbar ul {
        display: flex;
    }

    .header__navbar ul li {
        display: flex;
        list-style: none;
        padding: 5px;
        margin: 0 20px;
        justify-content: center;
        align-items: center;
        height: inherit;
    }

    .header__navbar ul li a {
        color: var(--light-couleur);
        text-decoration: none;
        padding: 5px;
        font-size: 2rem;
        font-weight: normal;
    }
}