:root {
    --fond: #0a101e;
    --light-fond: #0a102b;
    --couleur-special: #16FFE2;
    --light-couleur: #CCDDFF;
    --couleur: #99aacc;
    --font-mono: monospace;
    --transition: all 0.30s cubic-bezier(0.700, 0.050, 0.460, 1);
}

#root {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(22, 255, 226, 0.6) 0%, rgba(22, 255, 226, .5) 25%, rgba(22, 255, 226, 1) 53%, rgba(22, 255, 226, .5) 75%, rgba(22, 255, 226, 0.6) 100%);
    border-radius: 20px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgba(22, 255, 226, 0.8);
}


body {
    background-color: var(--fond);
    color: #CCDDFF;
    font-family: var(--font-mono);
    font-size: 1.6rem;
}

:focus:not(input) {
    outline: 2px inset var(--couleur-special);
    outline-offset: 10px;
}

textarea:focus{
    outline: none;
}

.underlined {
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
}

.underlined::after {
    content: '';
    display: block;
    margin: 0 auto; /* Quitar el margin para que sea lineal de izquierda a derecha */ 
    width: 0;
    height: 2px;
    background-color: var(--couleur-special);
}

.underlined:hover, .underlined:focus {
    color: var(--couleur-special);
}

.underlined:hover::after, .underlined:focus::after {
    width: 100%;
    transition: width .5s;
}